···×××XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX×××···

                     noC-Coupon Sample Configuration File

···×××XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX×××···

ACCESS=250
USER.1=nocTurne
COMMENT.1=Hey dude, dont make EVERYTHING free....
USER.2=Fred Flintstone
COMMENT.2=Yabba Dabba THIS!
FREEDLTEXT=>> FUCKING FREE DOWNLOAD EVERYONE!
