;
; *READ THE FUCKING DOCS!*  There are now so many commands that there is
; no point in trying to make a quick-reference-guide.
;
; Super-DupeChecker Script File
;
; The door will look for this file in the conference where the uploader is,
; and if it is not in there it will look for it in S:. This allows for
; different configs for each conference, and/or a gloabl config.
;
; You can use all of the different commands for different things as many
; times as you want. For example you can disable for lots of users, show
; lots of text files, and run millions of doors. Of course, some commands
; such as "Check" and "Axes" have no real use in being run more than
; once. (One exception: the "Arcs:" command should never be run twice)
;
; *NOTE:* You should have all of the `setup' commands at the start of your
; ------- script. (That is ones like "Name:", "Axes:", "HiDi:").
;
; *NOTE:* If a Dupe is found, none of the commands below "Check" will be
; ------- performed. (See the docs for reasons why!)
;
; *NOTE:* If you don't specify some of the commands, defaults will be used.
; ------- PLEASE read the docs for more info.
;
Text: ClearScreen.MSG
Name: P0T-NOoDLE
Name: Hydro
Axes: 200
AcCh: N
Door: ShowStats
Arcs: Y
Glob: Y
HiDi: 2
DirF: BBS:Conf12/Dir1
DirF: BBS:Conf12/Dir2
Anim: Y
Check U
AcCh: Y
;Door: TestBeta
Door: Server
Text: Thanks_For_Upload.Txt
;
; Not all the commands are used in this file. There are examples of how to
; use each command in their individual sections in the doc file.
