/*««««««««««««««««««««««««««««««««««««»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»*\
««««     noC-AutoFree configuration file - Please read documentation     »»»»»
\*««««««««««««««««««««««««««««««««««««»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»*/

(This sample config will be called with 'AutoFree 1')
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CONFPATH.1=BBS:NewUsers/
FILEPREFIX.1=PDX-
FREEDLTEXT.1=>>> Free Fucking Download!
UPLOADPATH.1=BBS:NewUsers/Upload
****************************************
CONFPATH.2=BBS:Elite/
FILEPREFIX.2=RMK-
****************************************
Pretty easy, huh?
Be sher not to put any spaces before
or after the '=' tho..
Later, noC!
