#[35mNote![0m [32mIf you wanna have an Account here you MUST ANSWER ALL QUESTIONS![0m
#
# [36mName your Handle, you like to use in this BBS.[0m - [36m[[0m1 Line[36m][0m
!1:
# [36mName an Password for your Account here.[0m        - [36m[[0m1 Line[36m][0m
!1:
# [36mName an Country/Location for your Account[0m      - [36m[[0m1 Line[36m][0m
!1:
# [36mName your Group[0m                                - [36m[[0m1 Line[36m][0m
!1
# [36mEnter your real first Name.[0m                    - [36m[[0m1 Line[36m][0m
!1:
# [36mEnter your Voice Number ([0mNo Number[33m/[0mNo Access[36m)[0m  - [36m[[0m1 Line[36m][0m
!1:
# [36mWhere did you get this BBS Number ([0mSpecified[36m)[0m  - [36m[[0m1 Line[36m][0m
!1:
# [36mName me 3 ([0mPure[36m) Elite Guys for Reference.[0m     - [36m[[0m3 Lines[36m][0m
!1:
!2:
!3:
# [36mname me 3 other Elite BBS`s where you on.[0m      - [36m[[0m3 Lines[36m][0m
!1:
!2:
!3:
# [36mWhy you are calling here? ([0mSpecified[36m)[0m          - [36m[[0m1 Line[36m][0m
!1:
# [36mAre you violated with any of this Companys?[0m    - [36m[[0m1 Line[36m][0m
# [36mFCC, Copyright, or other Lawfull Regulations, like Telecom etc.[0m
!1:
# [36mNow it is Time to write something about you.[0m   - [36m[[0m3 Lines[36m][0m
!1:
*2:
*3:
! [36mIs the above Correct?[0m [33m([32mY[34m/[32mn[33m)[0m :
/
