# BBSLink Configuration
# InterBBS Games Server Client
# Sign up for free at: http://www.bbslink.net/

# Connection settings
timeout=10
serverhost=games.bbslink.net
telnetport=23
httpport=80

# BBSLink account credentials (REQUIRED)
# Get these from your BBSLink.net account
syscode=
authcode=
schemecode=

# Default door to launch (MENU for game selection)
doorcode=MENU

# Game codes mapping (optional - allows /BBSLINK GAMECODE shortcuts)
# Example: /BBSLINK LORD will launch Legend of the Red Dragon
lord=LORD
lrd2=LRD2
mzkl=MZKL
teos=TEOS
ooii=OOII
tw2002=TW
gwar=GWAR
ggam=GGAM
usrp=USRP
bre=BRE
falc=FALC
fhon=FHON
arcl=ARCL
dmud=DMUD
pimp=PIMP
luna=LUNA
netr=NETR
assn=ASSN
bbsc=BBSC
vsys=VSYS
tpit=TPIT
bord=BORD
junk=JUNK
mmot=MMOT
dark=DARK
hack=HACK
mega=MEGA
fish=FISH
lmon=LMON
dmas=DMAS
bcr=BCR
legn=LEGN
dkns=DKNS
test=TEST
