_ _:________________________________________ __ _
   ¦
   |  NOC-WHO V1.5 SAMPLE CONFIGURATION FILE (9 DESIGNS INCL.)
_ _¦_____________________________________________________ __ _
   :

FILENAMES_DISABLED=NO
DIVIDERS_DISABLED=NO
PUBLIC_UPDATE=YES
DOOR_NAMES=YES
CLEAR_SCREEN=NO
SYSOP_ACTION=Lazing Around
YOURNODE.TEXT=** YOUR NODE **
SOMEONE.TEXT=A nEw uSeR
-------------------------------
COOLUSER.1=nocTurne
COOLUSER.2=J.W.Bobbit
-------------------------------
MISC.TITLE=Phone #
MISC.0=LOCAL
MISC.1=555-1213
MISC.2=555-1214
MISC.3=555-1215
-------------------------------
FRONTEND.STYLE=6               << Note: All caps..
;WHO.STYLE=5                   << If you want a SET who style...
-------------------------------
COUP.NAME=noC Coupon V1.0      << Note: COUP & NUKE are in CAPS...
NUKE.NAME=Boss-Nuke V1.0

**************************************************************************
Following are the 9 included who designs.  Edit/delete/create them to your
delight, but READ THE DOCUMENTATION...  If you want to make your own from
scratch you will have to delete one or more of these, as ONLY 9 slots are
available. 
**************************************************************************
TITLE.1=Internal WHO Mock
HEAD.1=
[34m.---+---------------------+---------------------+------------------+----------.
[34m|[33mNd#[34m| [36mName/Handle         [34m| [36mLocation            [34m| [36mAction           [34m| [36m@MISC... [34m|
[34m)---+---------------------+---------------------+------------------+----------(
%
BODY.1=
[34m|[0m @#[34m| [33m@NAME.............. [34m| [35m@LOC............... [34m| [0m@ACTION......... [0m[34m| [31m@MISC... [34m|
%
TAIL.1=
[34m|---+---------------------+---------------------+------------------+----------|
[34m|[0m[1m  @VERSIONTEXT [0m[31m· [0m(C)1994 nocTurne deSign [31m· [0mTime: [36m@TIME... [31m·[0m Calls Today: [36m@CL [34m|
[34m`-----------------------------------------------------------------------------'
%
DIVIDER.1=
[34m|---+---------------------+---------------------+------------------+----------|
%
******************************************************************************
TITLE.2=Ethereal Art Deco
HEAD.2=
[0m     [34m.______.___________________.____________________._________________.
[0m     [34m:      :                   :                    :                 :
[0m     [34m¦ [0m[1mNODE [0;34m¦ [0m[1mUSER NAME         [0;34m¦ [0m[1mGROUP/LOCATION     [0;34m¦ [0m[1mACTION   [0;34m       ¦
[0m     [34m|______|___________________|____________________|_________________|
[0m     [34m|      |                   |                    |                 |
%
BODY.2=
[0m     [34m|  [33m@#  [34m| [36m@NAME............ [34m| [36m@LOC.............. [34m| [36m@ACTION........[34m |
%
TAIL.2=
[0m     [34m¦______|___________________¦____________________¦_________________¦
[0m     [34m|                          :                    |                 |
[0m     [34m¦   [1;0mnoC-WHO version 1.50   [0;34m¦ [1;0mTODAYS CALLS: @CL  [0;34m¦ [1;0mTIME: @TIME...[0m[34m  ¦
[0m     [34m:__________________________:____________________:_________________:
%
DIVIDER.2=
[0m     [34m|--···-|---- -· ···· ··----|--- ·· ··  · ···- --|-----···· ·· ·---|
%
******************************************************************************
TITLE.3=noC DeSiGn StYlE
HEAD.3=
[34m------[35m/[34m------------------[35m/[34m-----------------------[35m/[34m------------------[35m/[34m----------
[0m Nd  [35m/ [0mHandle...        [35m/ [0mGroup/Tagline...      [35m/ [0mDoing...        [35m// [0m@MISC......
[34m----[35m//[34m-----------------[35m/[34m-----------------------[35m/[34m-----------------[35m//[34m------------
%
BODY.3=
[34m| [33m@#[34m | [36m@NAME........... [34m| [32m@LOC................. [34m| [33m@ACTION......... [0m[34m| [31m@MISC... [34m|
%
TAIL.3=
[34m---[35m//[34m-------------------------------------------------------------------------[35m/
[35m  //[0m[1m @VERSIONTEXT [31m· [0m(C)1994 nocTurne deSign [31m· [0mTime: [36m@TIME [31m·[0m Calls Today: [36m@CL[35m//
[34m-[35m/[34m-------------------------------------------------------------------------[35m//[34m--
%
DIVIDER.3=
[34m|----|------------------|-----------------------|------------------|----------l
%
******************************************************************************
TITLE.4=Simple Mono WHO
HEAD.4=
===========================================================================
%
BODY.4=
 @# @NAME......... @LOC................ @ACTION............. @BAUD CONF:@$
%
TAIL.4=
===========================================================================
    @VERSIONTEXT - (C)1994 nocTurne deSign - Time: @TIME... - Calls: @CL
%
DIVIDER.4=
---------------------------------------------------------------------------
%
******************************************************************************
TITLE.5=Spy Style
HEAD.5=

  [32mND[33m#          [32mUser[0m/[32mBaud                   Location[0m/[32mAction             Conf[33m#
[34m-============================================================================-
%
BODY.5=
[32m  NOde: [33m@#    [0m@NAME.......................  @LOC..................     
                [32mBaud...: [36m@BAUD.....             @ACTION..............     [0m@$
%
TAIL.5=
[34m-============================================================================-
[36m  @VERSIONTEXT [0mbY [36mnocTurne deSign[0m/[36mMST [0m'94 [32m- [36mTiME: [0m@TIME... [32m- [36mCaLLs ToDAy: [0m@CL
%
DIVIDER.5=
[34m ----------------------------------------------------------------------------
%
******************************************************************************
TITLE.6=Front End Style
HEAD.6=
[0m[34m                 _                                          _
[0m      [34m           \\=------------------:-------------------=//
[0m     [34m            /\\     [0;1mONLINE USER  [0;34m¦  [0;1mLOCATION    [0;34m     //\
[0m   [34m             // \\=----------------+-----------------=// \\
%
BODY.6=
[0m        [34m        | [32m@#[34m| [33m@NAME.......... [34m| [33m@LOC............ [34m|[32m@# [34m|
%
TAIL.6=
[0m     [34m           \\ //=----------------+-----------------=\\ //
[0m  [34m               \// [0m   [1mnoC-WHO V1.5 [0;31m- [0mCalls Today: [36m@CL   [34m\\/
[0m   [34m              //=--------------------------------------=\\
[0m  [34m               ¯                                          ¯
%
DIVIDER.6=
[0m     [34m           |---|-----------------|------------------|---|
%
*******************************************************************************
TITLE.7=Slimy Gooey WHO
HEAD.7=
[0m        [32m ______________________________________________________________
[0m        [32m(_                                                            _)
[0m         [32m¦\ [36m [0;1mHandle           Location               Operation  [0;32m     /¦
[0m         [32m:                                                            :
%
BODY.7=
[0m           [36m[37m  [36m@NAME........... @LOC.................. @ACTION.........
%
TAIL.7=
[0m         [32m·                                                            ·
[0m         [32m: [0m      @VERSIONTEXT [31m- [0m(C)1994 nocTurne deSign [31m- [0m@TIME [32m      :
[0m         [32m¦ __                                                      __ ¦
[0m         [32ml/-------------  -  - -------- - - -    ----- - - --   -----\j
%
DIVIDER.7=
[0m         [32m --- ------------ - -  ----- -  -    - - ---- ---------------
%
*********************************************************************************
TITLE.8=All Encompassing
HEAD.8=
[0;34m.----.-------------------.-----------------.------------.-------------.------.
[0;34m| [33mND [34m| [36mHANDLE[0m/[36mGROUP      [34m| [36mACTION          [34m| [36mBAUD[0m/[36mLOGIN [34m| [36m@MISC...... [34m|[36m [33mCONF [34m|
[0m[34m)----|-------------------|-----------------|------------|-------------|------(
%
BODY.8=
[0m[34m|    | [0m@NAME............ [34m|                 | [0m@BAUD..... [34m|             |      |
[0m[34m| [0m@# [34m| [0m@LOC............. [34m| [0m@ACTION........ [34m| [0m@WHEN..... [34m| [0m@MISC...... [34m|[0m  @$  [34m|
%
TAIL.8=
[0m[34m|----^-------------------|-----------------^------------|-------------^------|
[0m[34m| [36mTIME: [0m@TIME [36mCALLS: [0m@CL [34m|                              | [37m   [1;31m@VERSIONTEXT    [0;34m|
[0m[34m`------------------------'                              `--------------------'
%
DIVIDER.8=
[0m[34m|----|-------------------|-----------------|------------|-------------|------|
%
*********************************************************************************
TITLE.9=InverseVid Who
HEAD.9=
[0m
[0;44m [0;40m [44m Node  User...       Location...   Doing...         LoginTime Baud   Conf [40m [44m [30m[0m
[0m
%
BODY.9=
[0m    [33m@#   [36m@NAME........ [35m@LOC.........[32m @ACTION......... [35m@WHEN.... [36m@BAUD  [33m @$
%
TAIL.9=
[0m
[0m[0;44m [40m [44m @VERSIONTEXT by nocTurne deSign/MST              [36mTime: [0;44m@TIME  [36mCalls: [0;44m@CL [30;40m [44m[37m [0m
[0m
%
DIVIDER.9=
[0m    [34m-[37m [34m------------------------------------------------------------------ -
%
********************************************************************************
@BEGIN_ACTIONS
Loitering
Downloading
Beginning DL
Uploading
Beginning UL
Using a Door
Reading Mail
Reviewing Status
Account Editing
Zooming Mail
Viewing Dirs
Bulletins
Viewing Files
Account Sequence
Losing Carrier
Sysop Activities
Dropped to Shell
Editing
Joining Conf
Chat with Sysop
Inactive Node
Paging Sysop
Connecting
Logging On
Awaiting Call
Scanning Mail
Node ShutDown
Multi-Chat
Node Suspended
RESERVED
noC-WHO
Files-Reverse!!
UNAVAILABLE
@END_ACTIONS
