_ _:________________________________________ __ _
   ¦
   |  NOC-WHO VERSION 1.6 SAMPLE CONFIGURATION FILE
_ _¦_____________________________________________________ __ _
   :

FILENAMES.ACS=10
DOORNAMES.ACS=10
PRIV.ACS=250

DIVIDERS_DISABLED=NO
PUBLIC_UPDATE=YES
CLEAR_SCREEN=YES
SHOW_EMPTY_NODES=YES
SHOW_QUIET=YES

SYSOP_ACTION=Lazing Around
;YOURNODE.TEXT=> yOU <
SOMEONE.TEXT=Someone
SOMEWHERE.TEXT=Somewhere
QUIETACTION.TEXT=Quiet Node

COOLUSER.1=nocTurne
COOLUSER.2=J.W.Bobbit

MISC.TITLE=Phone #
MISC.0=LOCAL
MISC.1=555-1213
MISC.2=555-1214
MISC.3=555-1215

FRONTEND.STYLE=10
;WHO.STYLE=6        << to SET the who style

COUP.NAME=noC Coupon V1.0
NUKE.NAME=noC Nuke V1.0

     TITLE.1=Internal Mock
STYLE_FILE.1=DOORS:noC-WHO/styles/Internal_Mock.style
     TITLE.2=noc-deSign Style
STYLE_FILE.2=doors:noC-WHO/styles/noC_deSign.style
     TITLE.3=Simple Mono
STYLE_FILE.3=doors:noC-WHO/styles/Simple_Mono.style
     TITLE.4=3D Faces
STYLE_FILE.4=doors:noC-WHO/styles/3D_Faces.style
     TITLE.5=Stealthy
STYLE_FILE.5=doors:noC-WHO/styles/Stealth.style
     TITLE.6=Stream-Lined
STYLE_FILE.6=doors:noC-WHO/styles/StreamLined.style
     TITLE.7=Parthenon Look
STYLE_FILE.7=doors:noC-WHO/styles/Parthenon.style
     TITLE.8=All Encompassing
STYLE_FILE.8=doors:noC-WHO/styles/All_Encompassing.style
     TITLE.9=Shining Blue
STYLE_FILE.9=doors:noC-WHO/styles/Shining_Blue.style

---------------------------------------------------------
The above are available to the user; the following may be
called using the [DOOR].style command ONLY.
---------------------------------------------------------

     TITLE.10=FrontEnd Style
STYLE_FILE.10=doors:noC-WHO/styles/Front_End.style
     TITLE.11=FrontEnd2 Style
STYLE_FILE.11=doors:noC-WHO/styles/Front_End2.style
     TITLE.12=Inverse Video
STYLE_FILE.12=doors:noC-WHO/styles/Inverse_Video.style

@BEGIN_ACTIONS
Loitering
Downloading
Beginning DL
Uploading
Beginning UL
Using a Door
Reading Mail
Reviewing Status
Account Editing
Zooming Mail
Viewing Dirs
Bulletins
Viewing Files
Account Sequence
Losing Carrier
Sysop Activities
Dropped to Shell
Editing
Joining Conf
Chat with Sysop
Inactive Node
Paging Sysop
Connecting
Logging On
Awaiting Call
Scanning Mail
Node ShutDown
Multi-Chat
Node Suspended
RESERVED
noC-WHO
Files-Reverse!!
UNAVAILABLE
@END_ACTIONS
