TurboLister v0.2 by CøRteX/tRS¿!

[-----20 Chars-----]
#
yes                                   ;Real Confname for squeezed Filename
Sanctuary                             ;Filename for squeezed dirs!!
LHA                                   ;1. Option
C:LHA -q a                            ;lha compression
.LHA                                  ;add thiz to the Filename
LZX                                   ;2. Option
C:LZX -q a                            ;lzx compression
.LZX                                  ;add this to the filename
ZIP                                   ;2. Option
C:ZIP -jkq                            ;zip compression
.ZIP                                  ;add thiz to the Filename
##
