/*««««««««««««««««««««««««««««««««««««»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»*\
««««                                                                     »»»»»
««««      noC-WHO configuration file.... Please read documentation       »»»»»
««««                                                                     »»»»»
\*««««««««««««««««««««««««««««««««««««»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»*/

FILENAMES_DISABLED=NO
DIVIDERS_DISABLED=NO
PUBLIC_UPDATE=YES
SYSOP_ACTION=Lazing Around

COOLUSER.1=nocTurne
COOLUSER.2=john

;MISC.TITLE=Rates
;MISC.0=LOCAL
;MISC.1=@
;MISC.2=OFFLINE
;MISC.3=@

@BEGIN_ACTIONS
Loitering
Downloading
Beginning DL
Uploading
Beginning UL
Using a Door
Reading Mail
Reviewing Status
Account Editing
Zooming Mail
Viewing Dirs
Bulletins
Viewing Files
Account Sequence
Losing Carrier
Sysop Activities
Dropped to Shell
Editing
Joining Conf
Chat with Sysop
Inactive Node
Paging Sysop
Connecting
Logging On
Awaiting Call
Scanning Mail
Node ShutDown
Multi-Chat
Node Suspended
RESERVED
noC-WHO
Files-Reverse!!
UNAVAILABLE
@END_ACTIONS
^^^^^^^^^^^^^^^^^
You may change any of these you want, but keep in mind:

1) ONLY ~18 CHARS MAX
2) They must be kept in the SAME order: shifting them forward
   or omitting one would screw the others up....
   (Notice that it KNOWS when someone is watching you!)
