;Autoreward config file

;First the conferences that will be given credits
;CONF.X=Y*credz
;-----------------------------------------------
CONF.3=2
CONF.8=2

;Here come the filenames that will be given extra credz.
NAME.1=ELT-
CREDITS.1=2
COMMENT.1=Wow a great ElTECH release!
NAME.2=MGS!-
CREDITS.2=2
COMMENT.2=We just LOVE those Megastyle releases !
