;server details
SERVERHOST=scenewall.bbs.io
SERVERPORT=1541
TIMEZONE=W. Europe Standard Time
;timeout for connecting to server (seconds)
TIMEOUT=5
;temporary working file
TEMPFILE=t:jsondata
;number of lines to display (or AUTO when being used as a door will use the users number of display lines)
LINES=AUTO
;clear the screen before displaying the list
SCREENCLEAR=YES
;choose between 4 styles (1-4) (two different headers and two different footers) (comma seperated list for random choice)
STYLE=4
;centre the name field
CENTRENAME=1
;timezone name using windows standard naming
TIMEZONE=GMT Standard Time
;use if you want to only see a single bbs in the viewer
;VIEWBBS=bbsname
