···×××XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX×××···

                     noC-Coupon Sample Configuration File

···×××XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX×××···

ACCESS=250
USER.1=nocTurne
COMMENT.1=You rule, man
USER.2=Fred Flintstone
COMMENT.2=Yabba Dabba THIS!
FREEDLTEXT.1=>> FUCKING FREE DOWNLOAD EVERYONE!
FREEDLTEXT.2=>> A FREE THG RELEASE
FREEDLTEXT.3=>> FREE DOWNLOAD
