;
; File Description - Copyright (c)1994 Bobo of Mystic.
; For updates and suggestions etc, call my board.
;
; File Description Script File
; (Example Config File)
;
; The door will look for this file in DOORS:FILEDESCRIPTION/
; If the file is not available, file description won't work.
;
; *NOTE* If you don't specify some of the commands, defaults will be used.
;
;--------------------------------------------------------------------------
; "Pack_<ext>: Packstring" will pack fileid in <ext> archives.
;                          Keywords in string: %P - filename with full path.
;                                              %W - work directory.
; EG (for LHA) Pack_LHA: Lha a %P %Wfile_id.diz
;--------------------------------------------------------------------------
Pack_LHA: Lha a %P %Wfile_id.diz
Pack_LZH: Lha a %P %Wfile_id.diz
Pack_TXT: Textract a %Wfile_id.diz %P
Pack_DOC: Textract a %Wfile_id.diz %P
Pack_NFO: Textract a %Wfile_id.diz %P
Pack_DMS: DMSDescript a %Wfile_id.diz %P
Pack_EXE: EXEDescript a %Wfile_id.diz %P
Pack_ZIP: Zip -j %P %WFILE_ID.DIZ
Pack_GIF: GifDesc r %P %Wfile_id.diz
Pack_LZX: Lzx a %P %Wfile_id.diz
;--------------------------------------------------------------------------
; "Depack_<ext>: Depackstring" will extract fileid in <ext> archives.
;                              Keywords in string: %P,%W (See above)
; EG (for LHA) Depack_LHA: Lha e %P file_id.diz %W
;--------------------------------------------------------------------------
Depack_LHA: Lha x %P file_id.diz %W
Depack_LZH: Lzx x %P file_id.diz %W
Depack_TXT: Textract e %Wfile_id.diz %P
Depack_DOC: Textract e %Wfile_id.diz %P
Depack_NFO: Textract e %Wfile_id.diz %P
Depack_DMS: DMSDescript x %Wfile_id.diz %P
Depack_EXE: EXEDescript x %Wfile_id.diz %P
Depack_ZIP: Unzip -C -o -j %P *FILE_ID.DIZ -d %W
Depack_GIF: GifDesc e %P %Wfile_id.diz
Depack_LZX: Lzx x %P file_id.diz %W
;--------------------------------------------------------------------------
; "Config_Access: Acs level" will only allow users with or above the
;                            <acs> level to configure his settings.
; EG (for ACS 20) Config_Access: 20
;--------------------------------------------------------------------------
Config_Access: 20
;--------------------------------------------------------------------------
; "Disable_Fsde" will disable the full screen description editor.
;--------------------------------------------------------------------------
;Disable_Fsde
